{% extends 'base.html' %}
{% block titulo %}
Nosotros
{% endblock titulo %}
{% block contenedor %}
<div class="container m-5 py-5 d-flex justify-content-center ">
              <div class="card text-center w-75 border border-dark rounded " >
                      <div class="card-body">
                        <h5 class="card-title display-4">Nosotros</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam voluptatibus assumenda dignissimos rerum velit doloremque consequuntur aliquid dolores. Itaque perspiciatis nulla debitis non, fuga similique aut corrupti eaque voluptatem libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus corporis consequuntur nobis reprehenderit repellendus excepturi deleniti adipisci aperiam earum? Temporibus, hic? Perferendis cupiditate totam quasi quas fugit atque saepe. Maxime.</p>
                      </div>
              </div>
</div>
{% endblock contenedor %}